html{
    background-image:url('wallpaper.jpg');
}
body{

display: flow-root;
background-color: hsla(240, 10%, 34%, 0.863);
color: hsla(0, 10%, 92%, 0.986);
text-shadow: 0.5em 0.5em 0.4em hsla(195, 59%, 13%, 0.603);
font-size: 100%;
top: 0;
left: 0;
margin: 0;
padding: 0;
}

.mainWrapper{
    left:0;
    top: 0;
    border-top: none;
}
.homeContent{
    font-size:2em;
}
.mainHeader{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top:0;
    height:40%;
    line-height: 1.50;
    text-align: center;
    background-position: top;
}

.pageContent{
    line-height: inherit;
    text-align: center;
    
}
#Para{
    text-align: left;
    margin-left: 5%;
    margin-top:10%;
    padding-bottom:5%;
    font-size: 1.4em;
    transition: 1s display;
}
.menuItems a{
    text-decoration: none;
    color:currentColor;
   
}
.menuItems{
    float: left;
    padding:0.5em;
}
.menuItems:hover{
    box-shadow: 1px 1px 2px currentColor;
    border-radius: 0.5em;
    background: linear-gradient(hsla(236, 17%, 66%, 0.836),transparent);
    padding-left: 0.5em;
    cursor: pointer;
    width:auto;
}

.menuList{
    display:  table;
    font-size: 125%;
    list-style-type: none;
}
#aboutContent,#portfolioContent,#contactContent{
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    box-shadow: 3px 4px 12px 0px black;
    overflow: auto;
    border:1px 1px 2px currentColor;
    height:35em;
    margin-bottom: 5%;
}

#box:hover{
    transform: rotate(360deg);
}
#pageHeader{
    font-size:2em;
    text-align: center;
}
.menuBar{
    width: 100%;
    background:linear-gradient(rgb(15, 45, 59),transparent);
    border-top: 0.1em solid currentColor;
    border-bottom: 0.1em solid currentColor;
}
#row{
    display: table;
}
#column{
    margin-left: 5%;
  
}
#column>img{
    border:0.5px solid currentColor;
    width:40%;
    float:left;
    opacity: 0.5;
    cursor: pointer;
    margin-left: 2em;
}
#column>img:hover{
    opacity: 1;
}
#modal{
    background:hsla(240, 11%, 31%, 0.9);
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    z-index: 1;
    padding-top: 100px;
    transition: 2s ease-in display;
}
#modalImage{
    width: 60%;
    position: relative;
    margin: auto;
    padding: 0;
    height:50%;
}

#close{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 4em;
    font-weight: bold;
}
#close:hover,
#close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
#mail{
    background:hsla(240, 2%, 84%, 0.7);
    margin-bottom: 2em;
    font-size: inherit;
    font-family: inherit;
}
#postButton{
    box-shadow: 0.5px 0.5px 2px currentColor;
    border-radius: 0.5em;
    background: linear-gradient(hsla(236, 17%, 66%, 0.836),transparent);
    padding-left: 0.5em;
    cursor: pointer;
    color:currentColor;
    top:90%;
    position: relative;
    margin-bottom: 4em;
}
